<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>This is a demo project, sorry for the bugs!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a sec:authorize="isAnonymous()" href="/signin">Sign in</a>
                            <a sec:authorize="isAnonymous()" href="/signup">Sign Up</a>
                            <a sec:authorize="hasRole('MANAGER')" href="/dashboard">Dashboard</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>RUB</li>
                            </ul>
                        </div>
                        <div sec:authorize="hasRole('USER')" style="display: inline">

                            <!-- Button trigger modal -->
                            <button type="button" style="background: #393939;border: 0;" class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#exampleModal">
                                <img src="/img/icon/logout.png" style="filter: invert(1);width: 18px;" alt="">
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Really?
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" th:action="@{/logout}">
                                                <button type="submit" style="background: #dfdfdf; width: 68px;"
                                                        class="btn" onclick="clearSessionCookie();">Yea
                                                </button>
                                                <a th:href="@{/}" class="btn focus">Back</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a th:href="@{/}"><span>Home</span></a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/products' ? 'active':''}"><a th:href="@{/products}"><span>Products</span></a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"><a th:href="@{/about}"><span>About us</span></a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/blog' ? 'active':''}"><a th:href="@{/blog}"><span>Blog</span></a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active':''}"><a th:href="@{/contact}"><span>Contact</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch">
                        <img src="/img/icon/search.png" alt=""></a>
                    <a href="#" sec:authorize="isAuthenticated()">
                        <img src="/img/icon/heart.png" alt=""></a>
                    <!--                    <a sec:authorize="isAuthenticated()" href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>-->
                    <!--                    <div sec:authorize="isAuthenticated()" class="price">$0.00</div>-->

                    <a id="cart-icon" sec:authorize="isAuthenticated()" href="/cart">
                        <img src="/img/icon/cart.png" alt="">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

</body>
</html>